html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

/* Title */
.title {
    color: black;
    text-decoration: none;
    font-size: x-large;
}

/* Navbar */
.nav-bar {
    text-align: center;
}

/* Nav links */
.nav-items {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    padding: 0;
}

/* a tags in nav bar, to remove underline */
.nav-items a {
    text-decoration: none;
    color: black;
    font-size: x-large;
    padding: 2px 6px; /* Clickable area */
}

/* Main area */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 80px; /* Give main slightly more priority */
}

.cta {
    text-decoration: none;
    color: black;
}

/* Footer */
.footer {
    width: 100%;
    text-align: center;
}